<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067852899002-tusih5pejoob1us62kb60k7jgupuig0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067852899002-tusih5pejoob1us62kb60k7jgupuig0k</string>
	<key>API_KEY</key>
	<string>AIzaSyC-zrI2hlbJJOdjie2Xe9yu0_509pD5AWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1067852899002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrgsdev.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-cb665</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-cb665.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067852899002:ios:6dc676eb57bcdc3a705883</string>
</dict>
</plist>